* {
    main-bg:            #000000e6;
    main-fg:            #cdd6f4ff;
    main-br:            #F12345ff;
    main-ex:            #FDB820ff;
    select-bg:          #FDB820ff;
    select-fg:          #11111bff;
    separatorcolor:     transparent;
    border-color:       transparent;
}
